
<!-- Toolbar -->
<header>
  <h1>The coin Exchanger</h1>
</header>
<body>

  <div>
    <label for="coinSelect">Choose a cryptocurrency: </label>
      <select name="cryptoSelect" id="cryptoSelect">
        <option value="BTC">Bitcoin </option>
        <option value="ETH">Ethereum </option>
        <option value="LTC">Litecoin</option>
        <option value="DOGE">Dogecoin</option>
        <option value="VET">VeChain</option>
      </select>

      
      
      <label for="currencySelect">Choose a currency: </label>
      <select name="currencySelect" id="currencySelect">
        <option value="USD">US Dollar </option>
        <option value="EUR">Euro </option>
        <option value="GBP">Pounds</option>
        <option value="RMB">Yuan</option>
        <option value="KRW">Won</option>
      </select>
  </div>
  
  <div>
    <h1>Coin Display</h1>
    <h3> 
      The price of : is 
    </h3>
  </div>
</body>
<footer>

</footer>


<router-outlet></router-outlet>
